#include <set>
#include <map>
#include <queue>
#include <ctime>
#include <cmath>
#include <vector>
#include <string>
#include <cstring>
#include <fstream>
#include <sstream>
#include <typeinfo>
#include <algorithm>
using namespace std;

typedef long long int64;

// ${Contest.Name} Div ${Contest.Div}
// ${Problem.Name}  ${Problem.Score}
// Memo Limit: ${Problem.MemoryLimitMB} MB
// Time Limit: ${Problem.TimeLimitMillis} ms

class ${ClassName} {
  public:
  ${Method.ReturnType} ${Method.Name}(${Method.Params}) {
    return ${Method.ReturnType;zeroval};
  }
};

${CutBegin}
${<TestCode}
${CutEnd}
